In [12]:
import random
import numpy as np
import pandas as pd

In [13]:
from scipy.stats import norm

In [14]:
ls = [1, 2, 3, 4, 5, 6, 7,8,9,10]
n = len(ls)
x = round(n/5)

In [15]:
from random import randint
for i in range(int(x)):
    index = randint(0, n)
    del ls[index]
    ls.insert(index, randint(0, 100))
print(ls)

[1, 2, 3, 4, 5, 82, 60, 8, 9, 10]

In [6]:
Gadi = [189.64,114.34,136.7,139.22,96.64,84.7,144.98,147.44]
Mey = [114.34,151.08,137.16,124.16,99.22,109.78,135.72] 
Suds = [113.74,117.9,147.7,130.7,124.1,128.88,117.76]
Must = [99.04,112.94,141.22,155.06,124.5,154.36,83.36]
Bach = [125.38,115.76,95.82,123.36,158.84,153.1,121.18,124.76]
Subh = [117.76,115.00,90.94,128.26,108.34,135.14,150.54]
Dhak = [143.76,110.06,136.94,115.98,141.9,133.98,119.04]
Bharg = [124.84,115.8,94.3,151.62,93.58,91.5,126.36]
Saad = [81.42,151.94,84.68,119.28,109.82,155.88,101.92]
Chai = [126.96,142.12,110.54,109.28,158.3,131.9,112.32]
Freeman = {"Subh":Subh, "Must":Must, "Dhak":Dhak, "Chai":Chai, "Bach":Bach,\
        "Saad":Saad, "Bharg":Bharg, "Gadi":Gadi, "Suds":Suds, "Mey":Mey,}

In [7]:
def sim(team, team_dict):
    keys = list(team_dict.keys())
    keys.remove(str(team))
    opponents = np.random.choice(keys,size=11,replace = True)
    wins = 0
    for i, score in enumerate(team_dict[team]):
        if team_dict[opponents[i]][i] < score:
            wins += 1
    return(wins)

In [8]:
def prop_of_reality(team,team_dict):
    results = {}
    for i in range(10000):
        results[i] = sim(team, team_dict)
    SResults = pd.Series(results)
    mu = SResults.mean()
    std = SResults.std()
    p0 = norm.cdf(0, loc=mu, scale = std)
    p1 = norm.cdf(1, loc=mu, scale = std)
    p2 = norm.cdf(2, loc=mu, scale = std)
    p3 = norm.cdf(3, loc=mu, scale = std)
    p4 = norm.cdf(4, loc=mu, scale = std)
    p5 = norm.cdf(5, loc=mu, scale = std)
    p6 = norm.cdf(6, loc=mu, scale=std)
    p7 = norm.cdf(7, loc=mu, scale=std)
    return(pd.Series({"w0":p0, "w1": p1-p0, "w2": p2-p1, \
                     "w3":p3-p2, "w4":p4-p3,'w5':p5-p4,'w6':p6-p5,'w7':1-p7}))

In [9]:
df = pd.DataFrame()

In [10]:
for team in Freeman.keys():
    df[team] = prop_of_reality(str(team),Freeman)

In [12]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df.index =['0-7','1-6','2-5','3-4','4-3','5-2','6-1','7-0']
df

     Subh  Must  Dhak  Chai  Bach  Saad  Bharg  Gadi  Suds   Mey
0-7 0.001 0.000 0.000 0.000 0.000 0.000  0.002 0.000 0.000 0.001
1-6 0.014 0.000 0.009 0.007 0.003 0.007  0.025 0.002 0.007 0.009
2-5 0.085 0.016 0.071 0.062 0.028 0.130  0.140 0.037 0.053 0.062
3-4 0.248 0.180 0.249 0.229 0.129 0.476  0.330 0.226 0.189 0.207
4-3 0.344 0.467 0.369 0.365 0.291 0.339  0.332 0.429 0.330 0.336
5-2 0.227 0.292 0.232 0.251 0.321 0.046  0.142 0.256 0.280 0.264
6-1 0.071 0.043 0.062 0.075 0.174 0.001  0.026 0.048 0.115 0.101
7-0 0.001 0.000 0.000 0.001 0.006 0.000  0.000 0.000 0.002 0.002

In [13]:
df.to_csv('Final-Projections.csv')