In [1]:
import pandas as pd
import random
import numpy as np
from scipy.stats import norm
from espnff import League

In [2]:
## TBN 
tbn_league_id = 1256551
year = 2018
## TAL 
tal_league_id = 1381696

In [3]:
tbn_league = League(tbn_league_id, year)
tal_league = League(tal_league_id, year)

In [4]:
from datetime import datetime
season_weeks = 13 #regular season 
season_sunday_start = datetime.strptime('Sep 9 2018', '%b %d %Y').date()# Sept 9 
### get last sunday
import datetime
today = datetime.date.today()
idx = (today.weekday() + 1)
sun = today - datetime.timedelta(idx)
### last possible week 
current_week = (sun - season_sunday_start).days/7 + 1

In [5]:
def get_scores(teams):
    result = []
    for i in teams: 
        temp_scores = i.scores
        temp_scores = [x for x in temp_scores if x != 0]
        result.append(temp_scores)
    return(result)

In [6]:
import re
tbn_teams = tbn_league.teams
tal_teams = tal_league.teams
tbn_scores = get_scores(tbn_teams)
tal_scores = get_scores(tal_teams)
tbn_owners = [i.owner for i in tbn_teams]
tal_owners = [i.owner for i in tal_teams]
tbn_teams = [str(i) for i in tbn_teams]
tal_teams = [str(i) for i in tal_teams]
tal_teams = [re.search(r'\((.*?)\)',i).group(1) for i in tal_teams]
tbn_teams = [re.search(r'\((.*?)\)',i).group(1) for i in tbn_teams]

In [7]:
tbn_team_scores = dict(zip(tbn_owners,tbn_scores))
tal_team_scores = dict(zip(tal_owners,tal_scores))

In [8]:
tbn_team_scores = {k.replace(' ', ''): v for k, v in tbn_team_scores.items()}
tal_team_scores = {k.replace(' ', ''): v for k, v in tal_team_scores.items()}

#### Begin Simulation

In [9]:
def sim(team, team_dict,other_division):
    keys = list(team_dict.keys())
    keys.remove(str(team))
    div_opponents = np.random.choice(keys,size=10,replace = True)
    other_keys = list(other_division.keys())
    out_div_opponents = np.random.choice(other_keys,size=2,replace = True)
    wins = 0
    bye_week_game = 0
    team_scores = team_dict[team]
    for i, score in enumerate(team_scores):
        ## Flip a coin - keeps bye week random
        if(bye_week_game<2):
            rand_number = random.randint(0,1)
            if(rand_number == 1):
                if other_division[out_div_opponents[bye_week_game]][i] < score:
                    wins+=1
                bye_week_game += 1
        else:
            if team_dict[div_opponents[i-bye_week_game]][i] < score:
                wins += 1
    return(wins)

In [10]:
def prop_of_reality(team,team_dict,other_div):
    results = {}
    for i in range(10000):
        results[i] = sim(team, team_dict,other_div)
    SResults = pd.Series(results)
    mu = SResults.mean()
    std = SResults.std()
    p0 = norm.cdf(0, loc=mu, scale = std)
    p1 = norm.cdf(1, loc=mu, scale = std)
    p2 = norm.cdf(2, loc=mu, scale = std)
    p3 = norm.cdf(3, loc=mu, scale = std)
    p4 = norm.cdf(4, loc=mu, scale = std)
    p5 = norm.cdf(5, loc=mu, scale = std)
    p6 = norm.cdf(6, loc=mu, scale=std)
    p7 = norm.cdf(7, loc=mu, scale=std)
    p8 = norm.cdf(8, loc=mu, scale=std)
    p9 = norm.cdf(9, loc=mu, scale=std)
    p10 = norm.cdf(10, loc=mu, scale=std)
    p11 = norm.cdf(11,loc=mu,scale=std)
    p12 = norm.cdf(12,loc=mu,scale=std)
    return(pd.Series({"w0":p0, "w1": p1-p0, "w2": p2-p1, \
                     "w3":p3-p2, "w4":p4-p3,'w5':p5-p4,'w6':p6-p5,'w7':p7-p6,
                     'w8':p8-p7,'w9':p9-p8,'w10':p10-p9,
                     'w11':p11-p10,'w12':1-p12}))

In [11]:
df = pd.DataFrame()

In [12]:
for team in tbn_team_scores.keys():
    df[team] = prop_of_reality(str(team),tbn_team_scores,tal_team_scores)

In [13]:
for team in tal_team_scores.keys():
    df[team] = prop_of_reality(str(team),tal_team_scores,tbn_team_scores)

In [14]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df.index =['0-12','1-11','2-10','3-9','4-8','5-7','6-6','7-5','8-4','9-3','10-2','11-1','12-0']
df

,MeyPan,ReedWilson,BlairDuncan,AndrewIorgulescu,JackBryant,FedericoScuoteguazza,RodneyRiojas,WendyTanner,DerekTaylor,BillAlsbrooks,KathyDuncan,Chrisfinder,DanMoran,KennethAlabaugh,JordanWalters,justosorrells,JasonMenahem,danielpearson
0-12,0.000,0.000,0.002,0.036,0.001,0.000,0.186,0.000,0.001,0.002,0.001,0.001,0.001,0.010,0.000,0.001,0.000,0.022
1-11,0.001,0.002,0.011,0.119,0.006,0.001,0.473,0.002,0.003,0.009,0.004,0.003,0.005,0.036,0.002,0.008,0.000,0.099
2-10,0.004,0.008,0.051,0.251,0.023,0.004,0.298,0.009,0.010,0.033,0.018,0.016,0.025,0.104,0.013,0.031,0.000,0.252
3-9,0.017,0.026,0.144,0.299,0.066,0.018,0.042,0.031,0.027,0.084,0.059,0.052,0.082,0.199,0.050,0.089,0.001,0.326
4-8,0.053,0.064,0.249,0.201,0.136,0.062,0.001,0.079,0.061,0.157,0.134,0.122,0.177,0.253,0.129,0.175,0.006,0.215
5-7,0.120,0.121,0.268,0.076,0.204,0.144,0.000,0.148,0.110,0.214,0.214,0.202,0.252,0.216,0.220,0.238,0.019,0.073
6-6,0.194,0.177,0.179,0.016,0.223,0.226,0.000,0.206,0.161,0.215,0.238,0.236,0.236,0.122,0.251,0.223,0.049,0.012
7-5,0.227,0.201,0.074,0.002,0.178,0.242,0.000,0.213,0.187,0.157,0.184,0.194,0.145,0.046,0.192,0.145,0.098,0.001
8-4,0.192,0.177,0.019,0.000,0.103,0.177,0.000,0.163,0.175,0.084,0.099,0.112,0.059,0.012,0.099,0.065,0.154,0.000
9-3,0.118,0.121,0.003,0.000,0.044,0.088,0.000,0.093,0.131,0.033,0.037,0.046,0.016,0.002,0.034,0.020,0.192,0.000
10-2,0.052,0.064,0.000,0.000,0.013,0.030,0.000,0.039,0.078,0.009,0.010,0.013,0.003,0.000,0.008,0.004,0.187,0.000
11-1,0.017,0.027,0.000,0.000,0.003,0.007,0.000,0.012,0.038,0.002,0.002,0.003,0.000,0.000,0.001,0.001,0.144,0.000
12-0,0.001,0.003,0.000,0.000,0.000,0.000,0.000,0.001,0.006,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.063,0.000

In [15]:
df.to_csv('Final-Projections.csv')