In [1]:
import random
import numpy as np
import pandas as pd

In [2]:
from scipy.stats import norm

In [3]:
ls = [1, 2, 3, 4, 5, 6, 7,8,9,10]
n = len(ls)
x = round(n/5)

In [5]:
from random import randint
for i in range(int(x)):
    index = randint(0, n)
    del ls[index]
    ls.insert(index, randint(0, 100))
print(ls)

[1, 13, 3, 16, 5, 6, 7, 8, 9, 10]

In [6]:
Gadi = [189.64,114.34,136.7,139.22,96.64,84.7,144.98,147.44,121.36,141.56]
Mey = [114.34,151.08,137.16,124.16,99.22,109.78,135.72,138.72,165,108.36] 
Suds = [113.74,117.9,147.7,130.7,124.1,128.88,117.76,123.16,83.32,126.84]
Must = [99.04,112.94,141.22,155.06,124.5,154.36,83.36,145.68,131.10,130.4]
Bach = [125.38,115.76,95.82,123.36,158.84,153.1,121.18,124.76,129.26,141.56]
Subh = [117.76,115.00,90.94,128.26,108.34,135.14,150.54,116.46,132.46,119]
Dhak = [143.76,110.06,136.94,115.98,141.9,133.98,119.04,142.80,91.38,144.26]
Bharg = [124.84,115.8,94.3,151.62,93.58,91.5,126.36,156.46,133.58,93.62]
Saad = [81.42,151.94,84.68,119.28,109.82,155.88,101.92,147.62,129.90,146.34]
Chai = [126.96,142.12,110.54,109.28,158.3,131.9,112.32,63.44,148.44,131.10]
Freeman = {"Subh":Subh, "Must":Must, "Dhak":Dhak, "Chai":Chai, "Bach":Bach,\
        "Saad":Saad, "Bharg":Bharg, "Gadi":Gadi, "Suds":Suds, "Mey":Mey,}

In [7]:
def sim(team, team_dict):
    keys = list(team_dict.keys())
    keys.remove(str(team))
    opponents = np.random.choice(keys,size=11,replace = True)
    wins = 0
    for i, score in enumerate(team_dict[team]):
        if team_dict[opponents[i]][i] < score:
            wins += 1
    return(wins)

In [8]:
def prop_of_reality(team,team_dict):
    results = {}
    for i in range(10000):
        results[i] = sim(team, team_dict)
    SResults = pd.Series(results)
    mu = SResults.mean()
    std = SResults.std()
    p0 = norm.cdf(0, loc=mu, scale = std)
    p1 = norm.cdf(1, loc=mu, scale = std)
    p2 = norm.cdf(2, loc=mu, scale = std)
    p3 = norm.cdf(3, loc=mu, scale = std)
    p4 = norm.cdf(4, loc=mu, scale = std)
    p5 = norm.cdf(5, loc=mu, scale = std)
    p6 = norm.cdf(6, loc=mu, scale=std)
    p7 = norm.cdf(7, loc=mu, scale=std)
    p8 = norm.cdf(8, loc=mu, scale=std)
    p9 = norm.cdf(9, loc=mu, scale=std)
    p10 = norm.cdf(10, loc=mu, scale=std)
    return(pd.Series({"w0":p0, "w1": p1-p0, "w2": p2-p1, \
                     "w3":p3-p2, "w4":p4-p3,'w5':p5-p4,'w6':p6-p5,'w7':p7-p6,
                     'w8':p8-p7,'w9':p9-p8,'w10':1-p10}))

In [9]:
df = pd.DataFrame()

In [10]:
for team in Freeman.keys():
    df[team] = prop_of_reality(str(team),Freeman)

In [11]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df.index =['0-10','1-9','2-8','3-7','4-6','5-5','6-4','7-3','8-2','9-1','10-0']
df

      Subh  Must  Dhak  Chai  Bach  Saad  Bharg  Gadi  Suds   Mey
0-10 0.000 0.000 0.000 0.000 0.000 0.000  0.000 0.000 0.000 0.000
1-9  0.005 0.000 0.001 0.000 0.001 0.000  0.000 0.000 0.005 0.000
2-8  0.029 0.002 0.008 0.006 0.006 0.000  0.006 0.003 0.032 0.005
3-7  0.108 0.019 0.047 0.044 0.033 0.011  0.049 0.024 0.115 0.034
4-6  0.233 0.101 0.160 0.157 0.110 0.103  0.188 0.117 0.242 0.127
5-5  0.293 0.260 0.292 0.296 0.224 0.336  0.337 0.278 0.294 0.262
6-4  0.214 0.332 0.288 0.294 0.279 0.380  0.284 0.326 0.206 0.300
7-3  0.091 0.210 0.154 0.154 0.213 0.149  0.113 0.189 0.083 0.190
8-2  0.023 0.066 0.044 0.042 0.100 0.020  0.021 0.054 0.019 0.067
9-1  0.003 0.010 0.007 0.006 0.029 0.001  0.002 0.008 0.003 0.013
10-0 0.000 0.000 0.000 0.000 0.001 0.000  0.000 0.000 0.000 0.000

In [12]:
df.to_csv('Final-Projections.csv')