In [1]:
import numpy as np
import pandas as pd

In [2]:
Gadi = [189.64,114.34,136.7,139.22,96.64,84.7,144.98,147.44,121.36,141.56]
Mey = [114.34,151.08,137.16,124.16,99.22,109.78,135.72,138.72,165,108.36] 
Suds = [113.74,117.9,147.7,130.7,124.1,128.88,117.76,123.16,83.32,126.84]
Must = [99.04,112.94,141.22,155.06,124.5,154.36,83.36,145.68,131.10,130.4]
Bach = [125.38,115.76,95.82,123.36,158.84,153.1,121.18,124.76,129.26,141.56]
Subh = [117.76,115.00,90.94,128.26,108.34,135.14,150.54,116.46,132.46,119]
Dhak = [143.76,110.06,136.94,115.98,141.9,133.98,119.04,142.80,91.38,144.26]
Bharg = [124.84,115.8,94.3,151.62,93.58,91.5,126.36,156.46,133.58,93.62]
Saad = [81.42,151.94,84.68,119.28,109.82,155.88,101.92,147.62,129.90,146.34]
Chai = [126.96,142.12,110.54,109.28,158.3,131.9,112.32,63.44,148.44,131.10]
Freeman = {"Subh":Subh, "Must":Must, "Dhak":Dhak, "Chai":Chai, "Bach":Bach,\
        "Saad":Saad, "Bharg":Bharg, "Gadi":Gadi, "Suds":Suds, "Mey":Mey,}

In [3]:
Gadi = ["Suds","Subh","Chai","Dhak","Saad","Must","Bharg","Bach","Mey","Suds"]
Mey = ["Subh","Chai","Dhak","Bach","Bharg","Suds","Saad","Must","Gadi","Subh"]
Suds = ["Gadi","Dhak","Subh","Saad","Chai","Mey","Must","Bharg","Bach","Gadi"]
Must = ["Saad","Bach","Bharg","Chai","Dhak","Gadi","Suds","Mey","Subh","Saad"]
Bach = ["Bharg","Must","Saad","Mey","Subh","Chai","Dhak","Gadi","Suds","Bharg"]
Subh = ["Mey","Gadi","Suds","Bharg","Bach","Saad","Chai","Dhak","Must","Mey"]
Dhak = ["Chai","Suds","Mey","Gadi","Must","Bharg","Bach","Subh","Saad","Chai"]
Bharg = ["Bach","Saad","Must","Subh","Mey","Dhak","Gadi","Suds","Chai","Bach"]
Saad = ["Must","Bharg","Bach","Suds","Gadi","Subh","Mey","Chai","Dhak","Must"]
Chai = ["Dhak","Mey","Gadi","Must","Suds","Bach","Subh","Saad","Bharg","Dhak"]
Freeman_sched = {"Subh":Subh, "Must":Must, "Dhak":Dhak, "Chai":Chai, "Bach":Bach,\
        "Saad":Saad, "Bharg":Bharg, "Gadi":Gadi, "Suds":Suds, "Mey":Mey,}

In [4]:
for i in Freeman:
    print(i,len(Freeman[i]))

Subh 10
Must 10
Dhak 10
Chai 10
Bach 10
Saad 10
Bharg 10
Gadi 10
Suds 10
Mey 10

In [6]:
win_df = pd.DataFrame(np.zeros(shape=(10,10)))
win_df.columns = Freeman.keys()
win_df.index = Freeman.keys()
win_mov = win_df.copy()
for team in Freeman_sched:
    ## loop through team
    opponents = Freeman_sched[team]
    ## loop through opponents for team 
    for week,opp in enumerate(opponents):
        #print(team + " vs. " + opp + " Week " + str(week))
        opp_score = Freeman[opp][week]
        team_score = Freeman[team][week]
        if team_score > opp_score:
            win_df[team][opp] += 1
            win_mov[team][opp] += team_score - opp_score

In [7]:
win_df

       Subh  Must  Dhak  Chai  Bach  Saad  Bharg  Gadi  Suds  Mey
Subh    0.0   0.0   1.0   0.0   1.0   1.0    1.0   0.0   1.0  0.0
Must    1.0   0.0   1.0   0.0   1.0   1.0    0.0   0.0   1.0  0.0
Dhak    0.0   0.0   0.0   0.0   1.0   1.0    0.0   1.0   1.0  1.0
Chai    1.0   1.0   2.0   0.0   1.0   1.0    0.0   1.0   0.0  1.0
Bach    0.0   0.0   0.0   0.0   0.0   0.0    0.0   1.0   0.0  1.0
Saad    0.0   1.0   0.0   0.0   1.0   0.0    0.0   0.0   1.0  1.0
Bharg   0.0   1.0   1.0   1.0   2.0   1.0    0.0   1.0   0.0  1.0
Gadi    1.0   1.0   0.0   0.0   0.0   1.0    0.0   0.0   0.0  1.0
Suds    0.0   0.0   0.0   1.0   1.0   0.0    1.0   2.0   0.0  0.0
Mey     2.0   1.0   0.0   0.0   0.0   0.0    0.0   0.0   1.0  0.0

In [8]:
win_array = np.array(win_df.T)

In [9]:
dominance_vec = two_step_dominance(win_array)

In [10]:
power_pts = []  
week = 4
for i,team in zip(dominance_vec,Freeman_sched.keys()):
    print(team)
    avg_score = sum(Freeman[team][:week])/week
    win_margin = win_mov[team].tolist()
    loss_margin = win_mov.loc[team].tolist()
    loss_margin = [-val for val in loss_margin]
    avg_mov = (sum(loss_margin) + sum(win_margin))/week
    print(i,avg_score,avg_mov)
    power = '{0:.2f}'.format((int(i)*0.8) + (int(avg_score)*0.15) +
                                 (int(avg_mov)*0.05))
    power_pts.append(power)
    power_tup = [(i, j) for (i, j) in zip(power_pts, Freeman_sched.keys())]

Subh
30.0 112.99 -30.85000000000001
Must
27.0 127.06500000000001 28.755
Dhak
21.0 126.685 11.055
Chai
9.0 122.225 -51.34999999999999
Bach
40.0 115.08 39.684999999999995
Saad
31.0 109.33000000000001 33.68000000000002
Bharg
12.0 121.64 -39.119999999999976
Gadi
33.0 144.975 13.544999999999984
Suds
32.0 127.50999999999999 -18.635000000000005
Mey
35.0 131.685 13.235

In [11]:
sorted(power_tup, key=lambda x: x[0],reverse=True)

[('51.20', 'Bach'),
 ('48.65', 'Gadi'),
 ('48.30', 'Mey'),
 ('43.75', 'Suds'),
 ('42.80', 'Saad'),
 ('42.05', 'Must'),
 ('39.30', 'Subh'),
 ('36.25', 'Dhak'),
 ('25.80', 'Bharg'),
 ('22.95', 'Chai')]