In [1]:
import random
import numpy as np
import pandas as pd
from scipy.stats import norm

In [10]:
ls = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
n = len(ls)
x = round(n/5)

In [18]:
from random import randint
for i in range(int(x)):
    index = randint(0, n)
    del ls[index]
    ls.insert(index, randint(0, 100))

print(ls)

[2, 3, 4, 91, 54, 7, 8, 9, 10, 11]

In [ ]:
#### FreemanLeague
Jens = [75.7,114,135.6,91.4,85.8,101.6,116.6,65.7,98.9,91.9,73.5]
Must = [119.7, 84.2, 92.8, 105.9,100.2,113.6,80.8,80,103.6,73.3,104.1]
Dhak = [97.8,97,87.1,88.6,100.2,79.3,79.8,130.3,94.2,103.4,106.7]
Chai = [88.4,101.8,84.3,91,98.7,109.9,85,98,80.7,103.1,110.1]
Bach = [60.4,95.4,90.9,116.3,85.3,114.4,133.9,107.7,109.5,91.6,87.9]
Reza = [83.4, 117.4, 69.1, 78.1,122.2,107,110.2,156.5,78.7,105.9,135.6]
Bharg = [59.6,70.3,112.7,89.6,95.3,60.2,83.4,79.4,69.4,94.3,102.5]
Gadi = [73.6,87.2,76.4,79.5,74.3,57.2,77.7,51.6,61.5,78,111.3]
Suds = [72.5,61.7,92.5,84.7,91.1,121.5,70.6,90.2,70.5,77.1,77.1]
Mey = [59.8,62.2,49.4,57.3,90.8,106.1,104.4,70,112.3,86,91.7]

In [3]:
len(Mey)

11

In [4]:
Freeman = {"Jens":Jens, "Must":Must, "Dhak":Dhak, "Chai":Chai, "Bach":Bach,\
        "Reza":Reza, "Bharg":Bharg, "Gadi":Gadi, "Suds":Suds, "Mey":Mey,}

In [5]:
#### College Station League
Quint = [69,117,91,70,85,85,85]
Mey = [65,53,61,99,103,98,80]
Barnes = [112,92,104,100,70,80,90]
Logan = [64,103,66,95,86,104,87]
Jason = [73,46,84,80,82,56,48]
Praveen = [100,108,120,89,72,91,105]
Nathan = [63,83,58,123,101,85,109]
Diego = [61,101,77,98,103,72,120]
Nolan = [47,57,72,62,115,87,80]
David = [46,90,49,63,66,71,48]

In [6]:
Cstat = {'Quint':Quint,"Mey":Mey,"Barnes":Barnes,"Logan":Logan,
         "Jason":Jason,"Praveen":Praveen,"Nathan":Nathan,"Diego":Diego,
         "Nolan":Nolan,"David":David}

In [7]:
def sim(team, team_dict):
    keys = list(team_dict.keys())
    keys.remove(str(team))
    opponents = np.random.choice(keys,size=11,replace = True)
    wins = 0
    for i, score in enumerate(team_dict[team]):
        if team_dict[opponents[i]][i] < score:
            wins += 1
    return(wins)

In [18]:
def prop_of_reality(team,team_dict):
    results = {}
    for i in range(10000):
        results[i] = sim(team, team_dict)
    SResults = pd.Series(results)
    mu = SResults.mean()
    std = SResults.std()
    p0 = norm.cdf(0, loc=mu, scale = std)
    p1 = norm.cdf(1, loc=mu, scale = std)
    p2 = norm.cdf(2, loc=mu, scale = std)
    p3 = norm.cdf(3, loc=mu, scale = std)
    p4 = norm.cdf(4, loc=mu, scale = std)
    p5 = norm.cdf(5, loc=mu, scale = std)
    p6 = norm.cdf(6, loc=mu, scale=std)
    p7 = norm.cdf(7, loc=mu, scale=std)
    p8 = norm.cdf(8, loc=mu, scale=std)
    p9 = norm.cdf(9, loc=mu, scale=std)
    p10 = norm.cdf(10, loc=mu, scale=std)
    return(pd.Series({"w0":p0, "w1": p1-p0, "w2": p2-p1, \
                     "w3":p3-p2, "w4":p4-p3,'w5':p5-p4,'w6':p6-p5,'w7':p7-p6,
                     'w8':p8-p7,'w9':p9-p8,'w10':p10-p9,'w11':1-p10}))

In [19]:
df = pd.DataFrame()

In [20]:
for team in Freeman.keys():
    df[team] = prop_of_reality(str(team),Freeman)

In [22]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df.index =['0-11','1-10','2-9','3-8','4-7','5-6','6-5','7-4','8-3','9-2','10-1','11-0']
df

      Bharg  Gadi  Suds  Dhak   Mey  Jens  Chai  Reza  Bach  Must
0-11  0.001 0.010 0.001 0.000 0.002 0.000 0.000 0.000 0.000 0.000
1-10  0.007 0.068 0.011 0.000 0.017 0.000 0.000 0.000 0.000 0.000
2-9   0.000 0.000 0.000 0.041 0.000 0.008 0.077 0.071 0.027 0.032
3-8   0.000 0.000 0.000 0.010 0.000 0.001 0.028 0.009 0.004 0.006
4-7   0.037 0.227 0.063 0.001 0.085 0.001 0.000 0.000 0.000 0.000
5-6   0.121 0.350 0.191 0.005 0.224 0.008 0.003 0.000 0.002 0.003
6-5   0.238 0.249 0.310 0.026 0.316 0.048 0.018 0.000 0.015 0.019
7-4   0.282 0.082 0.268 0.091 0.238 0.158 0.064 0.006 0.075 0.083
8-3   0.201 0.012 0.122 0.199 0.096 0.286 0.152 0.059 0.206 0.205
9-2   0.087 0.001 0.030 0.272 0.020 0.285 0.239 0.230 0.308 0.293
10-1  0.023 0.000 0.004 0.232 0.002 0.157 0.249 0.373 0.252 0.243
11-0  0.004 0.000 0.000 0.124 0.000 0.048 0.170 0.252 0.112 0.116

In [26]:
df.to_csv('Final-Projections.csv')

In [ ]:
cs_df = pd.DataFrame()

In [ ]:
for team in Cstat.keys():
    cs_df[team] = prop_of_reality(str(team),Cstat)

In [ ]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
cs_df.index =['0-7','1-6','2-5','3-4','4-3','5-2','6-1','7-0']
cs_df